psycopg2-binary>=2.9.9
pyyaml>=6.0.0
sqlalchemy>=2.0.0
python-dotenv>=1.0.0
pymongo>=4.0
motor>=3.0
fastapi
uvicorn[standard]
pytest
gradio
pandas
httpx
requests>=2.31.0
websocket-client>=1.8.0
fast-alpr[onnx-gpu]
facenet-pytorch
pillow
scipy
openvino>=2024.6.0
onnxruntime>=1.17.0
pgvector
google-generativeai>=0.8.3
